################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicTextCalculator/.vs
/BasicTextCalculator/BasicTextCalculator/bin
/BasicTextCalculator/BasicTextCalculator/obj
/BasicTextCalculator/BasicTextCalculatorTests/bin
/BasicTextCalculator/BasicTextCalculatorTests/obj
